@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Montserrat,sans-serif;
    line-height: 1.5;
}
.project-container{
    max-width: 768px;
    width: 90%;
    
    margin: 0 auto;
}

.project{
    /* box-shadow: 0 0 5px rgba(0,0,0,.1); */
  padding: 10px;
  margin-bottom: 50px;
   
}
.title{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight:600;
}

.img-container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.project-img{
   width: 100%;
  
}

.link-container{
  margin-top: 20px;
    
}

.project-link{
    -webkit-text-fill-color: #00cdac;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
   
}

.site{
    background-image: none;
    border: 2px solid #00cdac;
    padding: 5px;
   
   
}
.project-title{
    font-weight: 500;
    margin-bottom: 1.4rem;
    color: black;
}

@media only screen and (min-width: 980px ){
    .project{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: center;
        order: -1;
    }

    .img-container{
        
    }

    .project-details{
        width: 300px;
       display: flex;
       flex-direction: column;
       align-self: center;
       
    }

    .project-description{
        
    }
}